/*        INFORMATIONS

    - DOCUMENT: La forêt
    - VERSION:  1.0.0
    - AUTHOR:   Sebastien REYNAUD
*/
/*           STYLES

    - DEFAULT: 
    - H1:

*/

/*            FONTS

    - DEFAULT:

*/

/*==========================================GENERALY===============================================*/                                          

header{
    background-image: url(../images/foret.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}
.block{
    margin-bottom: 0 !important;
}
h1{
    color: #fff !important;
    text-align: center;
}
header p{
    color: #fff;
    text-align: center;
}
header .block{
    padding-top: 20%;
}
img{
    width: 100%;
    height: 350px;
}

.la-foret{
    background-color: rgb(185, 250, 176);
    height: 100%;
    text-align: center;
}
.champignons{
    background-image: url(../images/forest.webp);
    height: 100%;
    width: 100%;
    text-align: center;
}
h3{
    padding-top: 2%;
    background-color: #fff;
    margin-left: 260px;
    margin-right: 260px;
}
.animaux{
    background-image: url(../images/background.webp);
    background-size: cover;
}

