/*        INFORMATIONS

    - DOCUMENT: La forêt
    - VERSION:  1.0.0
    - AUTHOR:   Sebastien REYNAUD
*/
/*           STYLES

    - DEFAULT: 
    - H1:

*/

/*            FONTS

    - DEFAULT:

*/

/*==========================================GENERALY===============================================*/                                          

header{
    background-image: url(../images/foret.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}
.block{
    margin-bottom: 0 !important;
    padding-top: 2%;
}
h1{
    color: #fff !important;
    text-align: center;
}
header p{
    color: #fff;
    text-align: center;
}
header .block{
    padding-top: 20%;
}
img{
    width: 100%;
    height: 350px;
}

.la-foret{
    background-color: rgb(185, 250, 176);
    height: 100%;
    text-align: center;

}
.champignons{
    background-image: url(../images/forest.webp);
    height: 100%;
    width: 100%;
    text-align: center;
}
h3{
    background-color: #fff;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}
.animaux{
    background-image: url(../images/background.webp);
    background-size: cover;
}
h1, h2, h3{
    text-transform: uppercase;
}
.brame{
    background-color: rgb(250, 184, 179);
}
.brame p{
    margin-bottom: 20px;
}
iframe{
    height: 318px;
}
footer{
    background-color: black;
    color: #fff;
    text-align: center;
    height: 50px;
}

